<!doctype html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
	<link href="../styles/main.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="../styles/color.css">
	<link rel="stylesheet" href="https://unpkg.com/@themesberg/flowbite@1.1.1/dist/flowbite.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
	<link rel="shortcut icon" href="../assets/images/vLOGO.png" type="image/x-icon" />
	<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
</head>

<body class="bg-blue-50">

	<!-- Header Navigation Section -->
	<header class="fixed top-0 w-full z-50">
		<nav class="rounded-lg mx-auto shadow-lg bg-white shadow-lg fadeInTop">
			<div class="flex justify-between">

				<!-- Logo -->
				<a href="index.html" class="flex items-center py-4 px-2 ml-2 mr-5">
					<!-- <img src="../assets/images/CookinRecipe.svg" alt="Logo"> -->
					<h2 class="text-blue-600 font-bold text-2xl">
						CookinRecipe</h2>
				</a>
				<!-- Tìm v -->
				<div class="text-center md:flex hidden mt-1 mr-5 relative">
					<button id="toggleButton" class="font-bold items-center flex text-blue-600">
						Tìm công thức <div class="mx-1"></div> <i class="fas fa-chevron-down"></i>
					</button>
					<ul id="searchList"
						class="hidden absolute left-1/2 transform -translate-x-1/2 mt-12 bg-white shadow-lg  rounded-lg w-40">
						<li class="cursor-pointer hover:bg-gray-100 p-2 rounded"><a class="hover:text-bl text-sm"
								href="example.html">Thực đơn</a></li>
						<li class="cursor-pointer hover:bg-gray-100 p-2 rounded"><a class="hover:text-bl text-sm"
								href="dishes.html">Món ăn</a></li>
						<li class="cursor-pointer hover:bg-gray-100 p-2 rounded"><a class="hover:text-bl text-sm"
								href="ingredient.html">Nguyên liệu</a></li>
						<li class="cursor-pointer hover:bg-gray-100 p-2 rounded"><a class="hover:text-bl text-sm"
								href="#meo">Mẹo tư vấn</a></li>
					</ul>
					<script>
						const button = document.getElementById('toggleButton');
						const list = document.getElementById('searchList');

						button.addEventListener('mouseenter', () => {
							list.classList.remove('hidden');
						});

						button.addEventListener('click', () => {
							list.classList.toggle('hidden');
						});

						list.addEventListener('mouseleave', () => {
							list.classList.add('hidden');
						});
					</script>
				</div>

				<div class="relative  md:flex hidden w-1/4 mt-2 mb-2 mx-auto">
					<input type="text" placeholder="Bạn muốn nấu món gì?"
						class="w-full px-4 py-2 pl-6 pr-10 text-gray-700 bg-white border border-gray-300 rounded-full shadow-sm focus:outline-none focus:ring-2 focus:ring-gray-300 focus:border-transparent">
					<button class="absolute inset-y-0 right-3 mb-1 flex items-center">
						<i class="fas fa-search text-bl"></i>
					</button>
				</div>
				<!-- Secondary Navbar items -->
				<div class="ml-auto flex items-center space-x-3 ">
					<!-- Message -->
					<div class="relative">
						<button id="messageButton" class="text-blue-600 hover:text-blue-700">
							<i class="fas fa-bell text-xl"></i>
							<span
								class="absolute -top-1 -right-1 bg-red-500 text-white text-xs rounded-full px-1">99+</span>
						</button>
						<div id="messageDropdown"
							class="scrollbar-hidden hover:scrollbar-show hidden absolute -right-4 mt-2 w-52 md:w-64 bg-white shadow-lg rounded-lg max-h-60 overflow-y-auto">
							<div class="p-2 border-b text-gray-800 font-medium text-xl">Thông báo</div>
							<ul class="divide-y divide-gray-200">
								<li class="p-3 hover:bg-gray-100">
									<a href="#" class="flex space-x-3">
										<span
											class="bg-blue-500 text-white rounded-full h-8 w-8 flex items-center justify-center">🔔</span>
										<div class="text-sm">
											<p class="font-medium">Bạn có 1 tin nhắn mới</p>
											<span class="text-gray-500 text-xs">2 phút trước</span>
										</div>
									</a>
								</li>
								<li class="p-3 hover:bg-gray-100">
									<a href="#" class="flex space-x-3">
										<span
											class="bg-green-500 text-white rounded-full h-8 w-8 flex items-center justify-center">✅</span>
										<div class="text-sm">
											<p class="font-medium">Đơn hàng của bạn đã được xác nhận</p>
											<span class="text-gray-500 text-xs">10 phút trước</span>
										</div>
									</a>
								</li>
							</ul>
							<div class="p-3 text-center border-t">
								<a href="#" class="text-blue-500 font-medium">Xem tất cả thông báo</a>
							</div>
						</div>
						<script>
							const messageButton = document.getElementById("messageButton");
							const messageDropdown = document.getElementById("messageDropdown");

							messageButton.addEventListener("click", () => {
								messageDropdown.classList.toggle("hidden");
							});

							// Ẩn dropdown khi click bên ngoài
							document.addEventListener("click", (event) => {
								if (!messageButton.contains(event.target) && !messageDropdown.contains(event.target)) {
									messageDropdown.classList.add("hidden");
								}
							});
						</script>
					</div>
					<!-- Avatar -->
					<div class="relative">
						<button id="avaButton" class="text-bl hover:text-blue-800">
							<img src="../assets/images/LOGO.png" class="w-8 h-8 rounded-full" alt="user_avatar">
						</button>
						<div id="avaDropdown"
							class="hidden absolute right-0 mt-2 w-52 bg-white shadow-lg rounded-lg overflow-hidden">
							<div class="flex p-2">
								<img src="../assets/images/LOGO.png" class="rounded-full w-12 h-12">
								<div class="ml-2 mr-2">
									<p
										class="text-gray-800 text-md font-bold overflow-ellipsis overflow-hidden whitespace-nowrap font-medium">
										Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta optio explicabo
										ducimus totam eveniet repellat? Animi explicabo libero in vitae nobis! Labore
										inventore atque consequatur recusandae? Id, natus. Suscipit, recusandae!</p>
									<a href="profile.html" class="text-blue-600 text-sm">Xem trang cá nhân</a>
								</div>
							</div>
							<div class="p-2 space-y-1  border-t">
								<a href="post.html">
									<div
										class="flex items-center p-1 hover:bg-gray-100 hover:text-bl rounded cursor-pointer">
										<i class="fas fa-pen ml-2"></i>
										<p class="text-sm ml-5">Tạo công thức mới</p>
									</div>
								</a>
								<a href="likeList.html">
									<div
										class="flex items-center p-1 hover:bg-gray-100 hover:text-bl rounded cursor-pointer">
										<i class="fas fa-thumbs-up ml-2"></i>
										<p class="text-sm ml-5">Đã thích</p>
									</div>
								</a>
								<a href="saveList.html">
									<div
										class="flex items-center p-1 hover:bg-gray-100 hover:text-bl rounded cursor-pointer">
										<i class="fas fa-bookmark ml-2"></i>
										<p class="text-sm ml-5">Danh sách lưu</p>
									</div>
								</a>

								<a href="#setting">
									<div
										class="flex items-center p-1 hover:bg-gray-100 hover:text-bl rounded cursor-pointer">
										<i class="fas fa-cog ml-2"></i>
										<p class="text-sm ml-5">Cài đặt</p>
									</div>
								</a>

								<a href="changePassword">
									<div
										class="flex items-center p-1 hover:bg-gray-100 hover:text-bl rounded cursor-pointer">
										<i class="fas fa-key ml-2"></i>
										<p class="text-sm ml-5 ">Đổi mật khẩu</p>
									</div>
								</a>
							</div>

							<a href="#logOut">
								<div
									class="p-2 border-t font-bold text-center text-bl hover:bg-gray-100 cursor-pointer">
									<i class="fas fa-sign-out-alt"></i> Đăng xuất
								</div>
							</a>
						</div>
						<script>
							const avaButton = document.getElementById("avaButton");
							const avaDropdown = document.getElementById("avaDropdown");

							avaButton.addEventListener("click", () => {
								avaDropdown.classList.toggle("hidden");
							});

							// Ẩn dropdown khi click bên ngoài
							document.addEventListener("click", (event) => {
								if (!avaButton.contains(event.target) && !avaDropdown.contains(event.target)) {
									avaDropdown.classList.add("hidden");
								}
							});
						</script>
					</div>
					<a id="nav-login-btn" href="login.html"
						class="md:flex hidden py-2 px-2 text-base text-blue-600 font-regular">Đăng nhập</a>
					<a id="nav-signup-btn" href="signup.html" class="md:flex hidden">
						<button
							class="bg-gradient-to-r from-blue-600 to-purple-600 hover:bg-blue-700 duration-300 text-white text-base font-regular py-2 px-4 rounded">
							Đăng ký
						</button>
					</a>
					<!-- Mobile menu button -->
					<div class="md:hidden flex items-center">
						<button class="outline-none mobile-menu-button">
							<svg class=" w-6 h-6 text-bl hover:text-bl" x-show="!showMenu" fill="none"
								stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"
								stroke="currentColor">
								<path d="M4 6h16M4 12h16M4 18h16"></path>
							</svg>
						</button>
					</div>
					<div class="mx-3"></div>
				</div>
			</div>

			<!-- mobile menu -->
			<div class="hidden mobile-menu p-3">
				<ul class="">
					<div class="relative w-full mt-2 mb-2 mx-auto">
						<input type="text" placeholder="Bạn muốn nấu món gì?"
							class="w-full px-4 py-2 pl-6 pr-10 text-gray-700 bg-white border border-gray-300 rounded-full shadow-sm focus:outline-none focus:ring-2 focus:ring-gray-300 focus:border-transparent">
						<button class="absolute inset-y-0 right-3 mb-1 flex items-center">
							<i class="fas fa-search text-bl"></i>
						</button>
					</div>
					<li class="active" id="nav-login-btn-mobile"><a href="login.html"
							class="block text-sm px-2 py-4 hover:bg-gray-100 transition duration-300 text-base font-regular">Đăng
							nhập</a></li>
					<li id="nav-signup-btn-mobile"><a href="signup.html"
							class="block text-sm px-2 py-4 hover:bg-gray-100 transition duration-300 text-base font-regular">Đăng
							ký</a></li>
					<li><a href="post.html"
							class="block text-sm px-2 py-4 hover:bg-gray-100 transition duration-300 text-base font-regular">Tạo
							công thức mới</a></li>
					<li><a href="example.html"
							class="block text-sm px-2 py-4 hover:bg-gray-100 transition duration-300 text-base font-regular">Thực
							đơn</a></li>
					<li><a href="example.html"
							class="block text-sm px-2 py-4 hover:bg-gray-100 transition duration-300 text-base font-regular">Món
							ăn</a></li>
					<li><a href="ingredient.html"
							class="block text-sm px-2 py-4 hover:bg-gray-100 transition duration-300 text-base font-regular">Nguyên
							liệu</a></li>
					<li><a href="example.html"
							class="block text-sm px-2 py-4 hover:bg-gray-100 transition duration-300 text-base font-regular">Mẹo
							tư vấn</a></li>
				</ul>
			</div>
			<script>
				const btn = document.querySelector("button.mobile-menu-button");
				const menu = document.querySelector(".mobile-menu");

				btn.addEventListener("click", () => {
					menu.classList.toggle("hidden");
				});
			</script>
		</nav>
	</header>

	<div class="container mx-auto my-5 mt-20 mb-16">

		<div class="md:flex mt-3 md:mt-2 no-wrap md:-mx-2">
			<!-- Left Side -->
			<div class="w-full md:w-3/12">
				<!-- Profile Card -->
				<div class="bg-white p-3 border-t-4 border-blue-600">
					<div class="image overflow-hidden">
						<img id="self-profile-image" class="h-auto w-full mx-auto"
							src="../assets/images/default-profile.jpeg" alt="">
					</div>
					<div class="flex ">
						<h1 id="self-name" class="text-gray-900 font-medium text-xl leading-8 my-1">Unknown</h1>
						<button
							class="modal-open text-blue-600 text-base hover:text-blue-700 ml-auto text-blue-600 font-medium">
							<i class="fa-solid fa-pen text-blue-600 text-sm"></i> Chỉnh sửa</button>
					</div>
					<p id="self-caption" class="text-sm text-gray-500 hover:text-gray-600 leading-6 font-regular">No
						Caption</p>
					<ul
						class="bg-gray-100 text-gray-600 hover:text-gray-700 hover:shadow py-2 px-3 mt-3 divide-y rounded shadow-sm">
						<li class="flex items-center py-3 font-regular">
							<span>Họ Tên</span>
							<span id="self-created-at" class="ml-auto">Annie</span></span>
						</li>
						<li class="flex items-center py-3 font-regular">
							<span>Giới Tính</span>
							<span id="self-created-at" class="ml-auto">Nữ</span></span>
						</li>
						<li class="flex items-center py-3 font-regular">
							<span>Địa Chỉ</span>
							<span id="self-created-at" class="ml-auto">Vietnam</span></span>
						</li>
						<li class="flex items-center py-3 font-regular">
							<span>Email</span>
							<span id="self-created-at"
								class="ml-auto overflow-ellipsis overflow-hidden whitespace-nowrap">hj@gmail.com</span></span>
						</li>
						<li class="flex items-center py-3 font-regular">
							<span>Level</span>
							<span class="ml-auto"><span id="self-badge"
									class="py-1 px-2 rounded text-white bg-blue-600 text-sm">Novice</span></span>
						</li>
						<li class="flex items-center py-3 font-regular">
							<span>Member since</span>
							<span id="self-created-at" class="ml-auto">Nov 07, 2016</span>
						</li>
					</ul>
				</div>
				<!-- End of profile card -->
			</div>
			<div class="my-4"></div>
			<!-- Right Side -->
			<div class="w-full md:w-9/12 md:ml-4 h-auto">

				<!-- Post menu -->
				<div class="bg-white p-3 shadow-sm rounded-sm">

					<div class="grid grid-cols-1">
						<div>
							<div class="flex items-center font-semibold text-gray-900 leading-8 mb-3">
								<span clas="text-green-500">
									<svg class="h-5 stroke-current text-blue-600" xmlns="http://www.w3.org/2000/svg"
										fill="none" viewBox="0 0 24 24">
										<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
											d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
									</svg>
								</span>
								<span class="tracking-wide text-blue-600 ml-2 font-bold">Công Thức</span>
								<button type="button"
									class="flex flex-row items-center bg-gradient-to-r from-blue-600 to-purple-600 duration-300 text-white text-base font-regular py-2 px-4 rounded ml-auto">
									<svg class="w-5 h-5 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
										xmlns="http://www.w3.org/2000/svg">
										<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
											d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
									</svg>
									<a href="post.html">Tạo công thức</a>
								</button>
							</div>

							<div id="self-no-posts" class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-3">
								<!-- My Posted Dishes -->
								<div
									class="h-auto rounded overflow-hidden shadow-lg transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-105 ...">
									<img src="../design/images/butterChicken3.jpeg"
										class="w-full h-52 object-cover cursor-pointer" alt="Buttor Chicken">
									<div class='px-4 py-2'>
										<div class="mb-2 font-medium text-xl overflow-ellipsis overflow-hidden whitespace-nowrap cursor-pointer"
											id="01"><a href="dish.html">Buttor Chicken</a></div>

										<p
											class='font-regular text-gray-600 text-base leading-normal h-12 overflow-ellipsis overflow-hidden w-full'>
											Lorem ipsum dolor sit ametanie de fo consectetur adipisicing elit.
											Voluptatum doloremque odit animi quo incidunt reprehenderit atque excepturi
											nisi consequatur, optio maiores praesentium, maxime blanditiis delectus
											dignissimos, tempora ad! Necessitatibus, consequuntur?</p>
									</div>
									<div class='px-3 pb-1 flex flex-row'>
										<a href="search.html"><span
												class="inline-block bg-gray-200 rounded-full px-2 py-1 text-sm font-medium text-gray-700 mr-2 mb-2">Chicken</span></a>

									</div>

									<div class="px-4 pb-2 flex flex-row">
										<p
											class='overflow-ellipsis overflow-hidden whitespace-nowrap font-regular text-gray-600 text-base leading-normal'>
											<i class="fas fa-clock text-bl"></i> 50 minutes
										</p>
										<button type="button" class="ml-auto cursor-pointer">
											<a href="post.html"><i class="fa fa-edit text-blue-600"></i></a>
										</button>
										<button type="button" class="ml-5 cursor-pointer">
											<i class="fa fa-trash-alt text-red-500"></i>
										</button>
									</div>
								</div>



							</div>
						</div>
					</div>
					<!-- End of Experience and education grid -->
				</div>
				<!-- End of Post menu -->

				<div class="my-4"></div>

				<!-- Tips List -->
				<div class="bg-white p-3 shadow-sm rounded-sm">

					<div class="grid grid-cols-1">
						<div>
							<div class="flex items-center font-semibold text-gray-900 leading-8 mb-3">
								<span clas="text-green-500">
									<svg class="h-5 stroke-current text-blue-600" xmlns="http://www.w3.org/2000/svg"
										fill="none" viewBox="0 0 24 24">
										<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
											d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
									</svg>
								</span>
								<span class="tracking-wide text-blue-600 ml-2 font-bold">Mẹo Tư Vấn</span>
							</div>

							<div id="self-posts" class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-3">

							</div>
							<div id="self-no-posts" class="flex">
								<div class="text-gray-400 font-medium mx-auto my-10">Bạn chưa tạo mẹo tư vấn nào!</div>
							</div>
						</div>
					</div>
					<!-- End of Experience and education grid -->
				</div>
				<!-- End of Liked Posts -->
			</div>
		</div>
	</div>

	<!--Edit Profile Modal-->
	<div class="modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center">
		<div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>

		<div class="modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">

			<!-- Add margin if you want to see some of the overlay behind the modal-->
			<div class="modal-content py-4 text-left px-6 overflow-auto h-96">
				<!--Title-->
				<div class="flex justify-between items-center pb-3">
					<p class="text-2xl font-medium text-blue-600">Chỉnh sửa thông tin</p>
					<div class="modal-close cursor-pointer z-50">
						<svg class="fill-current text-blue-600" xmlns="http://www.w3.org/2000/svg" width="18"
							height="18" viewBox="0 0 18 18">
							<path
								d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z">
							</path>
						</svg>
					</div>
				</div>

				<!--Body-->
				<div class="container mx-auto">
					<div class="md:flex no-wrap">
						<div class="w-full md:w-3/12">
							<div class="image overflow-hidden relative">
								<img class="h-auto w-full mx-auto" for="self-upload-profile" id="self-edit-profile"
									src="../assets/images/default-profile.jpeg" alt="">
								<input class="w-full h-full opacity-0 absolute top-0 left-0" type="file"
									onChange="editProfileChange()" id="self-upload-profile"
									accept="image/png, image/jpeg, image/jpg" />
								<svg class="w-6 h-6 fill-current cursor-pointer text-blue-600 hover:text-blue-600 mx-1 my-1 absolute right-0 bottom-0"
									viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
									<path
										d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z">
									</path>
									<path fill-rule="evenodd"
										d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z"
										clip-rule="evenodd"></path>
								</svg>
							</div>
						</div>
						<div class="my-4"></div>
						<!-- Right Side -->
						<div class="w-full md:w-9/12 mx-2">
							<h5 class="text-blue-600 text-base font-medium">Tên Người Dùng:</h5>
							<input id="self-edit-name" type="text"
								class="block border border-grey-light text-base w-full p-3 rounded mb-4 font-light"
								name="name" placeholder="Full Name" />
							<h5 class="text-blue-600 text-base font-medium">Email:</h5>
							<input id="self-edit-email" type="email"
								class="block border border-grey-light text-base w-full p-3 rounded mb-4 font-light"
								name="email" placeholder="Email" />
							<h5 class="text-blue-600 text-base font-medium">Địa Chỉ:</h5>
							<input id="self-edit-location" type="text"
								class="block border border-grey-light text-base w-full p-3 rounded mb-4 font-light"
								name="location" placeholder="Current Location" />
							<h5 class="text-blue-600 text-base font-medium">Giới Tính:</h5>
							<div class="mb-4">
								<label class="inline-flex items-center">
									<input id="self-edit-male" type="radio" class="form-radio font-light" name="gender"
										value="male">
									<span class="ml-2">Nam</span>
								</label>
								<label class="inline-flex items-center ml-6">
									<input id="self-edit-female" type="radio" class="form-radio font-light"
										name="gender" value="female">
									<span class="ml-2">Nữ</span>
								</label>
							</div>
							<h5 class="text-blue-600 text-base font-medium">Giới Thiệu:</h5>
							<textarea id="self-edit-caption" type="text"
								class="block border border-grey-light text-base w-full p-3 rounded mb-4 font-light"
								name="caption" placeholder="Caption"></textarea>
						</div>
					</div>
				</div>

				<!--Footer-->
				<div class="flex justify-end pt-2">
					<button
						class="modal-close px-4 bg-transparent p-3 rounded-lg text-blue-600 font-regular hover:bg-gray-100 mr-2">Đóng</button>
					<button onClick="onSavingEditForm()"
						class=" px-4 bg-blue-600 p-3 rounded-lg text-white font-regular hover:bg-blue-700">Lưu</button>
				</div>

			</div>
		</div>
	</div>

	<!-- Foooter -->
	<section class="bg-gradient-to-r from-blue-600 to-purple-600 mt-20">
		<div class="max-w-screen-xl px-4 py-12 mx-auto space-y-8 overflow-hidden sm:px-6 lg:px-8">
			<div class="flex justify-center mt-8 space-x-6">
				<a href="https://www.facebook.com/annyeongannie/" class="text-gray-50 hover:text-white">
					<span class="sr-only">Facebook</span>
					<svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24">
						<path fill-rule="evenodd"
							d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z"
							clip-rule="evenodd"></path>
					</svg>
				</a>
				<a href="https://x.com/annyeongannie_" class="text-gray-50 hover:text-white">
					<span class="sr-only">Twitter</span>
					<svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24">
						<path
							d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84">
						</path>
					</svg>
				</a>
				<a href="https://github.com/AnnieYZL" class="text-gray-50 hover:text-white">
					<span class="sr-only">GitHub</span>
					<svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24">
						<path fill-rule="evenodd"
							d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
							clip-rule="evenodd"></path>
					</svg>
				</a>

			</div>
			<p class="mt-8 text-base leading-6 text-center text-gray-50">
				© 2025 Cookin'Recipe, Inc. All rights reserved.
			</p>
		</div>
	</section>

	<script type="text/javascript" src="../scripts/profileHandler.js"></script>

</body>

</html>